/*banner部分*/
.banner{
    height:460px;
    overflow:hidden;
}
.banner .banner-img{
    position:absolute;
	left:0;
	margin:0 auto;
	padding:0;
}
.banner ul.banner-img>li{float:left;width:1226px;}
.banner ul.banner-img img{
    width:1226px;
    height:460px;
}
.banner a.ck-slide{
    position:absolute;
    top:157px;
    width:41px;
    height:69px;
    border-radius:2px;
}
.banner a.ck-left{
    left:234px;
    background:url(../img/index/carousel/icon-slides.png) no-repeat center center;
	background-position-x: -84px;
}
.banner a.ck-left:hover{
	left:234px;
	background:url(../img/index/carousel/icon-slides.png) no-repeat center center;
	background-position-x:0;
}
.banner a.ck-right{
    right:0;
    background:url(../img/index/carousel/icon-slides.png) no-repeat center center;
	background-position-x: -124px;
}
.banner a.ck-right:hover{
    right:0;
    background:url(../img/index/carousel/icon-slides.png) no-repeat center center;
	background-position-x: -41px;
}
.banner ul.indicators{
    position:absolute;
    bottom:10px;
    display: block;
    left: auto;
    right: 30px;
    text-align: right;
}
.banner ul.indicators li{
	float:left;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    text-align: left;
    /*text-indent: -9999px;*/
    overflow: hidden;
    background: #f5f5f5;
    background: rgba(255,255,255,0.4);
    transition: all .2s;
}
.banner ul.indicators li:hover,.banner ul.indicators li.hover{
    cursor:pointer;
    background: rgba(255,255,255,0.4);
	border-color: rgba(0,0,0,0.4);
}

/**主页链接汇总**/
div.home-static-banner{
	margin-top:14px;
	height:170px;
	margin-bottom:26px;

}
.home-link-list{
	display:flex;
	flex-wrap:wrap;
	width:234px;
	height:170px;
	overflow:hidden;
	padding:3px;
	margin-top:0;
	background:#5f5750;
	font-size:12px;
	justify-content:space-between;
	border:1px solid #eee;
}
.home-link-list .link-item{
    position: relative;
	top:-3px;
	left:-4px;
	text-align:center;
    width: 70px;
    height: 82px;
    padding: 0 3px 0 9px;
}
.home-link-list .link-item a{
	display:block;
	padding-top:18px;
	color:rgba(2555,255,255,0.7);
	transition:color .2s;
}
.home-link-list .link-item:after {
    top: 6px;
    left: 0;
    width: 1px;
    height: 70px;
}

.home-link-list .link-item:before,.home-link-list .link-item:after {
    position: absolute;
    content: "";
    background: #665e57;
}
.home-link-list li:before {
    top: -1px;
    left: 6px;
    width: 64px;
    height: 1px;
}
.home-link-list li:before, .home-link-list li:after {
    position: absolute;
    content: "";
    background: #665e57;
}
.home-link-list .link-item a:hover{
	color:#fff;
}
.home-link-list .link-item a i {
	display: block;
    height: 24px;
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 24px;
}
.home-banner-list{
	width:978px;
	margin-left:14px;
	padding-left:0;
	margin-top:0;
	min-height:1px;
}
.home-banner-list li{
	float:left;
	width: 316px;
    height: 170px;
	transition: box-shadow .2s linear;
}
.home-banner-list a{height:170px;}
.home-banner-list li:not(.first){margin-left:14px;}
.home-banner-list li a img{width:316px;height:170px;}
/*明星单品*/
.home-star-goods {margin-bottom:40px;}
.home-star-goods .box-hd{
	height:58px;
	position: relative;
}
.home-star-goods .box-hd .title{
	margin: 0;
	display:inline-block;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
.home-star-goods .box-hd .more{
	position:absolute;
	top:24px;
	right:0;
}
.home-star-goods .box-hd .more .control{
	display:inline-block;
	margin-left: -1px;
	text-align:center;
	color:#b0b0b0;
	width:34px;
	height:24px;
	padding:3px 5px;
	border:1px solid #e0e0e0;
	font-size:16px;
	line-height:16px;
    font-weight: bold;
	transition:all .5s;
	overflow:hidden;
}
.home-star-goods .box-hd .more .control:hover{color:#ff6700;}
.home-star-goods .box-bd{
    overflow:hidden;
    position: relative;
    height: 340px;
    width: 978px;
}
.home-star-goods .box-bd .goods-list{
    position: absolute;
    left:0;
	padding: 0;
	margin: 0 0 40px 0;
    height: 340px;
    /*transition: margin-left 0.1s ease;*/

}
.home-star-goods .goods-list li{
	float: left;
    width: 234px;
    margin-right: 14px;
	height: 340px;
    padding-top: 39px;
    text-align: center;
    background: #fafafa;
    transition: all .6s;
}

.goods-list .good-item-1{border-top:1px solid #ffac13;}
.goods-list .good-item-2{border-top:1px solid #83c44e;}
.goods-list .good-item-3{border-top:1px solid #2196f3;}
.goods-list .good-item-4{border-top:1px solid #e53935;}
.goods-list .good-item-5{border-top:1px solid #00c0a5;}
.goods-list .good-item-6{border-top:1px solid #ffac13;}
.goods-list .good-item-7{border-top:1px solid #83c44e;}
.goods-list .good-item-8{border-top:1px solid #2196f3;}
.goods-list .good-item-9{border-top:1px solid #e53935;}
.goods-list .good-item-10{border-top:1px solid #00c0a5;}

.goods-list .thumb{
	display:block;
	width:160px;
	margin:0 auto 22px;
}
.goods-list .thumb img{
	width:160px;
	height:160px;
}
.goods-list .title, .home-star-goods .goods-list .title a {color: #212121;}
.goods-list .title {
    margin: 0 20px 3px;
    font-size: 14px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.home-star-goods .goods-list .desc {
    height: 18px;
    margin: 0 20px 12px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #b0b0b0;
}
.home-star-goods .goods-list .price {
    margin: 0;
    color: #ff6709;
}

/*楼层加载*/
.home-main{
	padding-top:60px;
	background:#f5f5f5;
}
.home-brick-box .box-hd{
	position:relative;
    height: 58px;
}
/*楼层标题*/
#homeelec>.box-hd>.title{
    margin: 0;
    display:inline-block;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
    position: relative;
    right: 0;
}
.home-brick-box .box-hd .title{
	margin: 0;
	display:inline-block;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
    position: relative;
    right: 234px;
}
.home-brick-box .box-hd .more{
	position:absolute;
	top:0;
	right:0;
}
.home-brick-box .box-hd .more .tab-list{
	margin: 0;
    padding: 16px 0 0;
    font-size: 16px;
}
.home-brick-box .box-hd .more .tab-list li{
	margin: 0 0 0 30px;
    padding:0;
	display:inline-block;
	color:#424242;
	border-bottom:2px solid transparent;
    font-size: 16px;
	transition:border-color .5s;
	cursor: pointer;
}
.home-brick-box .box-hd .more .tab-list li.tab-active{
	color:#ff6700;
	border-bottom:2px solid #ff6700;
}
/*楼层图片*/

/*左部*/
.home-brick-box .box-bd{
	position:relative;
    height: 628px;
}
.home-brick-box .box-bd-left{
	width:234px;
}

.brick-promo-list{
	margin:0 0 0 -14px;
	padding:0;
}
.brick-item{
	position: relative;
    z-index: 1;
    float: left;
    width: 234px;
	margin-left:14px;
    margin-bottom: 14px;
    background: #fff;
    transition: all .2s linear;
    margin-top: 2px;
}
.brick-item-active{
	box-shadow:0 15px 30px rgba(0,0,0,0.1);
	transform:translate3d(0,-2px,0);
}
/*右部*/
.box-bd-right{width:992px;height: 628px;overflow: hidden;}
.brick-list{
	margin:0 ;
	padding:0;
}
.brick-item-m {
    height: 300px;
    padding: 34px 0 20px;
}
.brick-item-m .figure-img {
    width: 150px;
    height: 150px;
    margin: 0 auto 18px;
}
.brick-item-m .figure-img img {
    width: 150px;
    height: 150px;
}
.brick-item-m .title, .brick-item-m .title a {color: #333;}
.brick-item-m .title {
    margin: 0 10px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.brick-item-m .title a {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.brick-item-m .details {
    margin: 0 10px 10px;
    height: 18px;
    font-size: 12px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #b0b0b0;
}
.brick-item-m .price {
    margin: 0 10px 10px;
    text-align: center;
    color: #ff6700;
}
.brick-item-m .price del {color: #b0b0b0;}
.brick-item .flag {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    width: 64px;
    height: 20px;
    margin-left: -32px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #fff;
}
.brick-item-m .review-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 234px;
    height: 0;
    overflow: hidden;
    font-size: 12px;
    background: #ff6700;
    opacity: 0;
    transition: all .2s linear;
}
.brick-item-m .review-wrapper a {
    display: block;
    padding: 8px 30px;
    outline: 0;
}
.brick-item-m .review-wrapper.in{
    height: 67px;
    opacity: 1;
    display: block;
}
.brick-item-m .author{
    color: rgba(255,255,255,0.6);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /*display: block;*/
}
.brick-item-m .review {
    /*display: block;*/
    color: #fff;
}
.brick-item-s {
    height: 143px;
    padding-top: 50px;
}
.brick-item-s .figure-img {
    position: absolute;
    right: 20px;
    top: 32px;
    width: 80px;
    height: 80px;
}
.brick-item-s .figure-img a {
    display: block;
}
.brick-item-s .figure-img img {
    width: 80px;
    height: 80px;
}
.brick-item-s .title {
    margin: -10px 110px 5px 30px;
    font-size: 14px;
    font-weight: 400;
}
.brick-item-s .title, .brick-item-s .title a {
    color: #333;
}
.brick-item-s .title a {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.brick-item-s .price {
    margin: 0 110px 0 30px;
    font-size: 12px;
    color: #ff6700;
}
.brick-item-s .price .num {font-size: 14px;}
.brick-item-s .figure-more {
    position: absolute;
    right: 35px;
    top: 48px;
    width: 48px;
    height: 48px;
}
.brick-item-s .figure-more a {
    display: block;
    color: #ff6700;
}
.brick-item-s i {
    font-size: 48px;
    line-height: 48px;
}
.brick-item-s .more {
    display: block;
    margin: 0 110px 0 30px;
    font-size: 18px;
    color: #333;
}
.brick-item-s .more small {
    display: block;
    font-size: 12px;
    color: #757575;
}
#homeelec .box-bd-left .brick-item img{
    width: 234px;
    height:614px;
}
.box-bd-left .brick-item img{
    width: 234px;
    height: 300px;
}
/*热评产品*/
.home-review-box,.home-video-box  .title{
    margin: 10px 0;
}
.review-list {
    width: 1240px;
    height: 415px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.review-item:first-child, .review-item-first {
    margin-left: 0;
}
.review-item {
    position: relative;
    float: left;
    width: 296px;
    height: 415px;
    margin-left: 14px;
    margin-bottom: 14px;
    background: rgb(255, 255, 255);
    transition: all 0.2s linear;
}
.review-item .figure-img {
    width: 296px;
    height: 220px;
    margin: 0 0 28px;
}
.review-item .figure-img .exposure {
    display: block;
}
.review-item .figure-img img {
    width: 296px;
    height: 220px;
}
.review-item .review, .review-item .review a {
    color: rgb(51, 51, 51);
}
.review-item .review {
    height: 72px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 28px 22px;
    overflow: hidden;
}
.review-item .author {
    position: relative;
    height: 18px;
    font-size: 12px;
    color: rgb(176, 176, 176);
    margin: 0 28px 8px;
    padding: 0 10px 0 0;
}
.review-item .info {
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 30px;
    overflow: hidden;
}
.review-item .title {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    max-width: 170px;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
    color: rgb(51, 51, 51);
    margin: 0;
    overflow: hidden;
}
.home-review-box .sep {
    color: rgb(224, 224, 224);
}
.review-item .price {
    display: inline;
    color: rgb(255, 103, 0);
    margin: 0;
}
.review-item:hover {
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.1) 0 15px 30px;
    transform: translate3d(0px, -2px, 0px);
}
.home-video-box .box-hd{
	position:relative;
}
.home-video-box .box-hd .more{
	display: inline;
    position: absolute;
    top: 0;
    right: 0;
}
.home-video-box .box-hd .more .more-link {
    font-size: 16px;
    line-height: 58px;
    color: rgb(66, 66, 66);
    transition: all 0.4s;
}
.video-list{
	overflow:hidden;
	margin:0;
	padding:0;
}
.video-list .video-item{
    position: relative;
    float: left;
    width: 296px;
    height: 285px;
    margin-left: 14px;
    margin-bottom: 14px;
    text-align: center;
    background: #fff;
    transition: all .2s linear;
}
.video-item .figure-img {
    position: relative;
    width: 296px;
    height: 180px;
    margin: 0 0 28px;
}
.video-item:hover{
	z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.1) 0 15px 30px;
    transform: translate3d(0px, -2px, 0px);
}

.video-item .play{
    position: relative;
    width: 40px;
    height: 20px;
    display: block;
    bottom: 40px;
    left: 10px;
    background-color: #ff6700;
    color: #fff;
    border-radius: 20px;
    line-height: 20px;
}
#lift{
    margin-top: 25px;
    display: none;
    position: fixed;
    z-index: 100;
    background-color: #918888;
    left: 10px;
    top:100px;
}
.lift_list{
    display: block;
    list-style:none ;
    padding: 0;
}
.lift_item {
    border-top: 1px solid #b1aaaa;
    transition:all .3s linear;
}
.lift_btn {
    overflow: hidden;
    display: block;
    width: 24px;
    padding: 10px 5px;
    line-height: 14px;
    text-align: center;
    color: #fefefe;
    transition: color .1s;
}
.lift_item:hover, .lift_item_on {
    position: relative;
    border-bottom: 1px solid #d70b1c;
    margin-bottom: -1px;
    /*border-color: #d70b1c;*/
    background-color: #d70b1c;
}
.lift_btn {
    overflow: hidden;
    display: block;
    width: 70px;
    padding: 10px 5px;
    line-height: 30px;
    text-align: center;
    color: #fefefe;
    transition: color .1s;
}
.back{
    text-align: center;
    border-top: 1px solid #b1aaaa;
    margin-top: -14px;
    margin-bottom: 14px;
    padding: 14px;
    display: block;
    background-color: #fff;
}
.xm-flashPurchase-countdown{
    float: left;
    _display: inline;
    width: 234px;
    height: 340px;
    margin: 0 14px 0 0;
    padding: 0;
    background-color: #f1eded;
    border-top: 1px solid #e53935;
    text-align: center;
}
.xm-flashPurchase-countdown  p.time-title {
    font-size: 21px;
    color: #ef3a3b;
    padding-top: 45px;
}
.xm-flashPurchase-countdown  img {
    margin: 25px auto;
}
.xm-flashPurchase-countdown   .sub{
    color: rgba(0,0,0,0.54);
    font-size: 15px;
}
.xm-flashPurchase-countdown .countdown {
    width: 168px;
    margin: 28px auto 0;
}
.xm-flashPurchase-countdown .countdown span.dosh{
    width: 15px;
    height: 46px;
    line-height: 46px;
    color: #605751;
    font-size: 28px;
}
.xm-flashPurchase-countdown .countdown span.box{
    width: 46px;
    height: 46px;
    font-size: 24px;
    background-color: #605751;
    color: #fff;
    line-height: 46px;
}
.video{
    width: 1226px;
    height: 800px;
    display: block;
    overflow: hidden;
	position: fixed;
    top: 10px;
    z-index: 99;
	left: 310px;
}

.video.in{display:none;}
.v3{
	width: 800px;
    height: 600px;
    display: block;
}
.video h1{
    position: relative;
    bottom: -75px;
    background-color: #f7f7f7;
    width: 800px;
}