body{
	font-family: arial,"微软雅黑",sans-serif;;
	color:#000000;
	font-size:12px;
	word-break:break-all;
	word-wrap:break-word;
    position:relative;
	min-width: 1320px;
}
body, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, ul, a, img {
	margin:0;
	padding:0;
	list-style:none;
	font-weight: normal;
}
a{
	text-decoration:none;
	color:#fff;
}
img{
	border:0px;
}
.clear::after{
    content:"";
    display:block;
    clear:both;
}
.clear-box::before{
    content:"";
    display:table;
}
.out{
    display:block !important;
}
.diamond-icon{
	display:block;
	position:absolute;
	width:10px;
	height:10px;
	background-color:#161B25;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg); /* Internet Explorer */
	-moz-transform:rotate(45deg); /* Firefox */
	-webkit-transform:rotate(45deg); /* Safari 和 Chrome */
	-o-transform:rotate(45deg); /* Opera */
	top:-5px;
	transition:left 0.3s linear;
}
.breadcrumb{
	height:35px;
	background:#E8E8E8;
	font-size:12px;
	color:#535353;
}
.breadcrumb>.breadcrumb-frame{
	width:1300px;
	height:100%;
	margin:0 auto;
	position: relative;
}
.breadcrumb a{
	font-size:12px;
	color:#535353;
}
.breadcrumb>.breadcrumb-frame>ul>li{
	display:block;
	float:left;
	height:35px;
	line-height:35px;
}
.breadcrumb>.breadcrumb-frame>ul>li>span{
	display:inline-block;
	margin:0 5px 0 4px;
}