.top-logo-cart{
	width:1200px;
	height: 50px;
	margin: 0 auto;
	padding-top: 30px;
}
.top-logo-cart>.left-pic{
	float: left;
}
.top-logo-cart>.right-pic{
	float: right;
}
.buy-cart{
	width:1200px;
	margin:40px auto 0;
}
.buy-cart>.cart-title{
	height:37px;
	margin-bottom: 10px;
}
.buy-cart>.cart-title>li{
	border-top: 1px solid #D9D8D6;
	height:35px;
	line-height: 35px;
}
.buy-cart .cart{
	width:1200px;
		
	border-right: 1px solid #D9D8D6;
	border-left: 1px solid #D9D8D6;
}
.buy-cart .cart>li{
	float: left;
	border-bottom: 1px solid #D9D8D6;
	background-color: #F8F8F8;
	text-align: center;

}
.buy-cart .cart>.choice-li{
	width:56px;
}
.buy-cart .cart>.title{
	width:388px;
}
.buy-cart .cart>.subtitle{
	width:168px;
}
.buy-cart .cart>.price,.buy-cart .cart>.num,.buy-cart .cart>.items-price{
	width:156px;
}
.buy-cart .cart>.do-sth{
	width:120px
}
.buy-cart .cart>.service-all{
	width:1200px;
	height:50px !important;
	box-sizing: border-box;
	padding: 0 50px;
}
.buy-cart .cart>.service-all>.service{
	color:black;
	display: block;
	height:30px;
	line-height: 30px;
	width:200px;
	border: 1px solid red;
	border-radius: 5px;
	float: left;
	margin-top:9px;
	margin-right: 16px;
}
.buy-cart .choice{
	display: inline-block;
	vertical-align: text-bottom;
	width:14px;
	height:14px;
	background-image: url(../images/cart/buycart.png);
	background-position: -167px -4px;
}
.buy-cart .is-choice{
	background-position: -148px -4px;
}
.buy-cart>.cart-no-items{
	padding:80px 264px 80px 336px;
	display: none;
}
.buy-cart>.cart-no-items>.no-items{
	display: inline-block;
	height:84px;
	line-height: 84px;
	padding-left: 110px;
	background: url(../images/cart/buycart.png) no-repeat -4px -66px;
	font-size: 18px;
	font-weight: normal;
}
.buy-cart>.cart-no-items>.no-items>.goto-index{
	display: inline-block;
	width: 95px;
	height: 30px;
	line-height: 30px;
	background: url(../images/cart/buycart.png) -4px -163px;
	text-align: center;
	font-size: 14px;
	color: #000;
	margin: 0 4px;
}
.buy-cart>.cart-items{
	width:1200px;
}
.buy-cart>.cart-items>li:first-child>.cart{
	border-top: 1px solid #D9D8D6;
}
.buy-cart>.cart-items>li>.cart>li{
	height:116px;
	display: block;
	float: left;
	box-sizing: border-box;
}
.buy-cart>.cart-items .cart .choice-li{
	padding: 50px 0;
}
.buy-cart>.cart-items .cart .title>img{
	width:115px;
	height:115px;
	float: left;
}
.buy-cart>.cart-items .cart .title>a{
	float: left;
	width:273px;
	padding:40px 0;
	color:black;
	word-break:normal;
}
.buy-cart>.cart-items .cart .title>a:hover{
	color:red;
}
.buy-cart>.cart-items .cart .subtitle{
	padding: 33px 0;
}
.buy-cart>.cart-items .cart .price,.buy-cart>.cart-items .cart .items-price{
	padding:49px 0;
}
.buy-cart>.cart-items .cart .num{
	padding:48px 28px;
}
.buy-cart>.cart-items .cart .do-sth{
	padding:30px 0;

}
.buy-cart>.cart-items .cart .do-sth a{
	color: #000;
	display: inline-block;
	margin: 5px 0;
}
.buy-cart>.cart-items .cart .num>input{
	display: block;
	float: left;
	height:20px;
	box-sizing: border-box;
	outline: none;
}
.buy-cart>.cart-items .cart .num>.add,.cart-items .cart .num>.reduce{
	width:20px;
	border: 1px solid #d2d2d2;
	background: #eee;
}
.buy-cart>.cart-items .cart .num>.sum_all{
	border: none;
	border-top: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
	width:54px;
	text-align: center;
}
.buy-cart>.cart-num{
	border: 1px solid #d9d8d6;
	background: #f8f8f8;
	margin-top: 15px;
	padding: 14px 15px;
	display: none;
}
.buy-cart>.cart-num>.num-lf{
	float: left;
	font-size: 13px;
}
.buy-cart>.cart-num>.num-lf>.delete_all{
	margin-left: 28px;
	color: #000;
}
.buy-cart>.cart-num>.num-lf>.delete_all:hover{
	color: red;
}
.buy-cart>.cart-num>.num-rt{
	float: right;
	font-size: 16px;
	text-align: right;
}
.buy-cart>.cart-num>.num-rt>li{
	margin-top: 13px;
}
.buy-cart>.cart-num>.num-rt>li:first-child{
	margin-top: 0;
}
.buy-cart>.cart-num>.num-rt>li:last-child>span{
	color: red;
}
.buy-cart>.buy-it{
	display: none;
	padding: 15px 0 55px 0;
}
.buy-cart>.buy-it>.buy-btn{
	float: right;
	display: block;
	background: red;
	width:162px;
	height:40px;
	line-height: 40px;
	border-radius: 4px;
	font-size: 20px;
	color: #fff;
	text-align: center;
}