.user-main{
    width:1200px;
    margin:28px auto 35px;
}
.user-main>.user-lf{
    width:150px;
    border: 1px solid #d9d8d6;
    float: left;
    font-size: 12px;
    color: #000;
}
.user-main>.user-lf>.user-list{
    width:150px;
}
.user-main>.user-lf>.user-list>li{
    height: 31px;
}
.user-main>.user-lf>.user-list>li:first-child{
    border-top: none;
    background: #eee;
}
.user-main>.user-lf>.user-list>li>a,.user-main>.user-lf>.user-list>li:first-child>h3{
    color:#6f7170;
    display: block;
    padding-left: 32px;
    box-sizing: border-box;
    width:100%;
    height:100%;
    font-size: 13px;
    line-height: 31px;
    border-top: 1px solid #d9d8d6;
}
.user-main>.user-lf>.user-list>li:first-child>h3{
    color:black;
    position: relative;
}
.user-main>.user-lf>.user-list>.active{
    background: #d62f26;
}
.user-main>.user-lf>.user-list>.active>a{
    color:#fff;
}
.user-main>.user-rt{
    width:1032px;
    float: right;
}
.user-main>.user-rt>.title{
    display: block;
    width:1008px;
    padding-left: 22px;
    height:38px;
    background: #eee;
    border: 1px solid #d9d8d6;
    line-height: 38px;
    font-size: 15px;
}
.user-main>.user-rt>div{
    width:1030px;
    border: 1px solid #d9d8d6;
    border-top: none;
    min-height:100px;
}
.user-main>.user-rt>.personal{
    padding-left: 22px;
    padding-top: 20px;
    width:1032px;
    box-sizing: border-box;
}
.user-main>.user-rt>.personal>.user-msg{
    width:528px;
    float: left;
}
.user-main>.user-rt>.personal>.user-msg>li{
    line-height: 24px;
    margin-top: 20px;
}
.user-main>.user-rt>.personal>.user-msg .msg-lf{
    width:80px;
    display: block;
    float: left;
    height:24px;
    text-align: right;
    font-size: 13px;
}
.user-main>.user-rt>.personal>.user-msg .msg-lf>span{
    color: red;
    vertical-align: top;
}
.user-main>.user-rt>.personal>.user-msg p{
    line-height: 24px;
    height:24px;
    float: left;
    display: block;
}
.user-main>.user-rt>.personal>.user-msg .msg-input{
    width: 153px;
    height: 22px;
    border: 1px solid #d2d2d2;
    margin-right: 34px;
    outline: none;
}
.user-main>.user-rt>.personal>.user-msg .msg-add{
    font-size: 11px;
    color: #6f7170;
}
.user-main>.user-rt>.personal>.user-msg .msg-sex{
    float: left;
    margin-top: 5px;
}
.user-main>.user-rt>.personal>.user-msg label{
    margin-left: 6px;
    margin-right: 36px;
    vertical-align: text-bottom;
    float: left;
}
.user-main>.user-rt>.personal>.msg-change{
    padding:32px 0 26px 80px;
    float: left;
}
.user-main>.user-rt>.personal>.msg-change>.submit{
    display: block;
    height:30px;
    width:117px;
    border: none;
    background:rgb(201, 201, 201);
    font-size: 14px;
    border-radius: 5px;
    line-height: 30px;
    outline: none;
}
.user-main>.user-rt>.personal>.msg-change>.submit:hover{
    background: rgb(255, 48, 48);
}
.user-main>.user-rt>.personal>.msg-avatar{
    width:480px;
    float: right;
    height:400px;
}
.user-main>.user-rt>.personal>.msg-avatar>.avatar-border{
    border-left: 1px solid #d9d8d6;
    height:300px;
    width:479px;
}
.user-main>.user-rt>.personal>.msg-avatar>.avatar-border>.old-avatar{
    width:148px;
    height:148px;
    border-radius: 50%;
    display: block;
    margin: 50px auto 0;
}
.user-main>.user-rt>.personal>.msg-avatar>.avatar-border>.old-avatar>img{
    width:148px;
    height:148px;
}
.user-main>.user-rt>.personal>.msg-avatar>.avatar-border>.isChange-avatar{
    line-height: 50px;
    text-align: center;
    font-size: 16px;
}
.user-main>.user-rt>.personal>.uphead-box{
    position: relative;
}
.user-main>.user-rt>.personal>.uphead-box>.uphead-lf{
    width: 462px;
    height: 327px;
    border: 1px solid #d7d7d7;
    box-sizing: border-box;
    float: left;
    margin: 60px 0 70px 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 90px;
    text-align: center;
}
.user-main>.user-rt>.personal>.uphead-box>.uphead-lf>#imgForm{
    width:400px;
    height:35px;
}
.user-main>.user-rt>.personal>.uphead-box>.uphead-lf>#imgForm>.a-upload{
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    padding: 4px 10px;
    height: 25px;
    position: relative;
    cursor: pointer;
    color: #000;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
}
.user-main>.user-rt>.personal>.uphead-box>.uphead-lf>#imgForm>.a-upload>#inputImage{
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    /*filter: alpha(opacity=0);*/
    cursor: pointer;
}
.user-main>.user-rt>.personal>.uphead-box>.uphead-lf>#imgForm>.a-upload>span{
    display: inline-block;
    background:url(../images/usericon.png);
    width: 20px;
    height: 20px;
    background-position: -4px -36px;
    vertical-align: middle;
    padding-right: 5px;
}
.user-main>.user-rt>.personal>.uphead-box>.uphead-lf>h2{
    font-size: 13px;
    line-height: 24px;
    color: #959595;
    font-weight: normal;
    text-align: left;
    margin-top: 60px;
    margin-left: 70px;
    width: 270px;
}
.user-main>.user-rt>.personal>.uphead-box>.newAvatar-box{
    display: none;
    top: 60px;
    left: 50px;
    position: absolute;
    width: 460px;
    height: 325px;
    background:url(../images/avatarBackground.png);
    border: 1px solid #d7d7d7;
}
.user-main>.user-rt>.personal>.uphead-box img{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.user-main>.user-rt>.personal>.uphead-box>.newAvatar-box>.newAvatar-background{
    width: 460px;
    height: 325px;
    background-color: black;
    cursor: crosshair;
    opacity: .5;
    position: absolute;
}
.user-main>.user-rt>.personal>.uphead-box>.newAvatar-box>.newAvatar-black{
    position: absolute;
    cursor: crosshair;
}
.user-main>.user-rt>.personal>.uphead-box>.newAvatar-box>.newAvatar-black>.view-up{
    position: absolute;
    z-index: 2;
}
.user-main>.user-rt>.personal>.uphead-box>.newAvatar-box>.newAvatar-black>.view-box{
    position: absolute;
    cursor: move;
    z-index: 1;
    background-repeat: no-repeat;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.user-main>.user-rt>.personal>.uphead-box>.newAvatar-box>.newAvatar-black>.view-box>.point{
    display: block;
    width:4px;
    height:4px;
    background:#39f;
    position: absolute;
}
.user-main>.user-rt>.personal>.uphead-box>.newAvatar-box>.newAvatar-black>.view-box>.tl{
    top:-2px;
    left:-2px;
}
.user-main>.user-rt>.personal>.uphead-box>.newAvatar-box>.newAvatar-black>.view-box>.tr{
    top:-2px;
    right:-2px;
}
.user-main>.user-rt>.personal>.uphead-box>.newAvatar-box>.newAvatar-black>.view-box>.bl{
    bottom:-2px;
    left:-2px;
}
.user-main>.user-rt>.personal>.uphead-box>.newAvatar-box>.newAvatar-black>.view-box>.br{
    bottom:-2px;
    right:-2px;
}
.user-main>.user-rt>.personal>.uphead-box>.newAvatar-box>.newAvatar-black>.view-box>.line{
    height:1px;
    width:1px;
    background:#39f;
    display: block;
    position: absolute;
}
.user-main>.user-rt>.personal>.uphead-box>.newAvatar-box>.newAvatar-black>.view-box>.lf{
    left: 0;
}
.user-main>.user-rt>.personal>.uphead-box>.newAvatar-box>.newAvatar-black>.view-box>.rt{
    right: 0;
}
.user-main>.user-rt>.personal>.uphead-box>.newAvatar-box>.newAvatar-black>.view-box>.tp{
    top: 0;
}
.user-main>.user-rt>.personal>.uphead-box>.newAvatar-box>.newAvatar-black>.view-box>.bt{
    bottom: 0;
}
.user-main>.user-rt>.personal>.uphead-box>.uphead-middle{
    height: 350px;
    float: left;
    margin-top: 50px;
    margin-left: 60px;
    width: 1px;
    background-color: #d9d8d6;
    margin-bottom: 60px
}
.user-main>.user-rt>.personal>.uphead-box>.uphead-rt{
    float: left;
    margin-top: 60px;
    margin-left: 60px;
}
.user-main>.user-rt>.personal>.uphead-box>.uphead-rt p{
    background: #fff;
    border: 0px;
    padding-left: 0px;
    font-size: 15px;
    height: 32px;
    line-height: 32px;
}
.user-main>.user-rt>.personal>.uphead-box>.uphead-rt .explain{
    width: 260px;
    font-size: 13px;
    color: #B0B0B0;
}
.user-main>.user-rt>.personal>.uphead-box>.uphead-rt .preview{
    width:260px;
    height:260px;
}
.user-main>.user-rt>.personal>.uphead-box>.uphead-rt .preview>.img-preview{
    margin-top: 20px;
    border: 1px solid #dedede;
    overflow: hidden;
    position: relative;
}
.user-main>.user-rt>.personal>.uphead-box>.uphead-rt .preview>.img-preview img{
    position: absolute;
}
.user-main>.user-rt>.personal>.uphead-box>.uphead-rt .preview>.preview-md{
    width:100px;
    height:100px;
}
.user-main>.user-rt>.personal>.uphead-box>.uphead-rt .preview>.preview-sm{
    width:50px;
    height:50px;
}
.user-main>.user-rt>.personal>.uphead-box>.uphead-rt .preview p{
    font-size: 9px;
    color: #B0B0B0;
}
.user-main>.user-rt>.personal>.uphead-box>.avatar-click{
    margin-left: 147px;
    margin-bottom: 50px;
    float: left;
}
.user-main>.user-rt>.personal>.uphead-box>.avatar-click>a{
    width: 140px;
    height: 30px;
    line-height: 30px;
    background: #c9c9c9;
    text-align: center;
    float: left;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
    display: block;
}
.user-main>.user-rt>.personal>.uphead-box>.avatar-click>a:hover{
    background: rgb(255, 48, 48)
}
.user-main>.user-rt>.personal>.pw-body{
    margin-left: 30%;
    margin-bottom: 50px;
}
.user-main>.user-rt>.personal>.pw-body>li{
    line-height: 24px;
    height: 24px;
    padding-left: 22px;
    margin-top: 10px;
    display: block;
    width:260px;
}
.user-main>.user-rt>.personal>.pw-body>li>.pass-name{
    display: block;
    width:80px;
    height:24px;
    font-size: 12px;
    float: left;
    text-align: right;
}
.user-main>.user-rt>.personal>.pw-body>li>.pass-value{
    float: left;
    display: block;
    width:155px;
    height:24px;
    box-sizing: border-box;
    outline:none;
    border: 1px solid #d2d2d2;
}
.user-main>.user-rt>.personal>.pw-body>li .click-msg{
    text-align: center;
    color: rgb(255, 48, 48);
}
.user-main>.user-rt>.personal>.pw-body>li>.pass-btn{
    float: left;
    width: 100px;
    height: 24px;
    background: #c9c9c9;
    text-align: center;
    line-height: 24px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
}
.user-main>.user-rt>.personal>.pw-body>li>.pass-btn:hover{
    background: rgb(255, 48, 48);
}
.user-main>.user-rt>.personal>.not-like{
    margin: 20px auto;
    width:500px;
    height:24px;
    line-height: 24px;
    text-align: center;
    font-size: 16px;
    display: none;
}
.user-main>.user-rt>.personal>.not-like a{
    color: red;
    text-decoration: underline;
    font-size: 16px;
}
.user-main>.user-rt>.personal>.like-body{
    width:1030px;
}
.user-main>.user-rt>.personal>.like-body>li{
    float: left;
    width:200px;
    margin:0 30px 30px 20px;
    height:240px;
    position: relative;
}
.user-main>.user-rt>.personal>.like-body>li>a{
    color: #000;
    box-sizing: border-box;
    height:240px;
    width:200px;
    border: 1px solid #dedede;
    display: block;
}
.user-main>.user-rt>.personal>.like-body>li>a>img{
    height: 160px;
    width: 160px;
    margin: 8px auto 0;
    display: block;
}
.user-main>.user-rt>.personal>.like-body>li>a>h4{
    height: 16px;
    width: 190px;
    line-height: 16px;
    overflow: hidden;
    margin-top: 8px;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
    font-size: 15px;
    padding-left: 16px;
    box-sizing: border-box;
}
.user-main>.user-rt>.personal>.like-body>li>a>p{
    font-size: 14px;
    line-height: 20px;
    color: #e2231a;
    margin-top: 8px;
    padding-left: 16px;
}
.user-main>.user-rt>.personal>.like-body>li>.del-like{
    position: absolute;
    top:1px;
    right: 1px;
    display: none;
    width:20px;
    height:20px;
    background-image: url(../images/cart/trash.jpg);
    background-repeat: no-repeat;
    background-size: 20px;
    opacity: .8;
    cursor: pointer;
}
.user-main>.user-rt>.personal>.like-body>li>a:hover h1{
    color: #e2231a;
}
.user-main>.user-rt>.personal>.like-body>li:hover .del-like{
    display: block;
}