#nav{
	position:relative;
	z-index:2;
}
.nav-all{
    position:fixed;
    top:50%;
    left:50%;
}
.nav-all>.nav-lf{
    position:absolute;
    left:50%;
    margin-left:-650px;
    width:30px;
    height:254px;
    margin-top:-127px;
    display:none;
}
.nav-all>.nav-lf>.line{
    width:10px;
    height:0;
    font-size:0;
    border-bottom:1px solid #e5e5e5;
    margin:5px auto;
    line-height:0;
}
.nav-all>.nav-lf>li>a{
    text-decoration:none;
    font-size:12px;
    width:30px;
    display:block;
    margin:0 auto;
    height:26px;
    line-height:26px;
    text-align:center;
    color: #333;
}
.nav-all>.nav-lf>li>a>span{
    height:100%;
    width:100%;
}
.nav-all>.nav-lf>li>a>.up{
    display:block;
}
.nav-all>.nav-lf>li>a>.down{
    display:none;
    line-height:normal;
    font-size: 10px;
    white-space:nowrap;
    vertical-align:middle;
}
.nav-all>.nav-lf>li>a>.icon{
    background:url(../images/header/icons_sprit.png) no-repeat;
    width: 30px;
    height: 26px;
    background-position: 3px -456px;
}
.nav-all>.nav-lf>li>a:hover>.up{
    display:none;
}
.nav-all>.nav-lf>li>a:hover>.down{
    display:block;
}
.nav-all>.nav-rt{
	width:47px;
	height:300px;
	position:absolute;
	right:-680px;
	margin-top:-150px;
	display:none;
}
.nav-all>.nav-rt>li{
	width:100%;
	position:relative;
}
.nav-all>.nav-rt>li>a{
	display:block;
	width:100%;
	height:55px;
	background-image:url(../images/nav/right-nav.png);
	background-repeat:no-repeat;
	background-position-x:-1308px;
}
.nav-all>.nav-rt>li:last-child>a{
	height:20px;
}
.nav-all>.nav-rt>li>.sort-list-1{
	background-position-y:-322px;
}
.nav-all>.nav-rt>li>.sort-list-2{
	background-position-y:-377px;
}
.nav-all>.nav-rt>li>.sort-list-3{
	background-position-y:-432px;
}
.nav-all>.nav-rt>li>.sort-list-4{
	background-position-y:-487px;
}
.nav-all>.nav-rt>li>.sort-list-5{
	background-position-y:-542px;
}
.nav-all>.nav-rt>li>.sort-list-6{
	background-position-y:-597px;
}
.nav-all>.nav-rt>li>.sort-list-1:hover{
	background-position-y:-0px;
}
.nav-all>.nav-rt>li>.sort-list-2:hover{
	background-position-y:-55px;
}
.nav-all>.nav-rt>li>.sort-list-3:hover{
	background-position-y:-110px;
}
.nav-all>.nav-rt>li>.sort-list-4:hover{
	background-position-y:-165px;
}
.nav-all>.nav-rt>li>.sort-list-5:hover{
	background-position-y:-221px;
}
.nav-all>.nav-rt>li>.sort-list-6:hover{
	background-position-y:-276px;
}
.nav-all>.nav-rt>li>ul{
	position:absolute;
	top:0;
	display:none;
}
.nav-all>.nav-rt>li:hover>ul{
	display:block;
}
.nav-all>.nav-rt>li>a+ul>li{
	background-image:url(../images/nav/right-nav.png);
	background-repeat:no-repeat;
}
.nav-all>.nav-rt>li>.sort-list-1+ul{
	left:-195px;
}
.nav-all>.nav-rt>li>.sort-list-1+ul>li{
	background-position-y:0px;
	background-position-x:-444px;
	width:195px;
	height:52px;
}
.nav-all>.nav-rt>li>.sort-list-1+ul>li:hover{
	background-position-x:-174px;
}
.nav-all>.nav-rt>li>.sort-list-2+ul{
	left:-217px;
}
.nav-all>.nav-rt>li>.sort-list-2+ul>li{
	width:217px;
	height:52px;
	background-position-x:-1066px;
}
.nav-all>.nav-rt>li>.sort-list-2+ul>li:nth-child(1){
	background-position-y:-0px;
}
.nav-all>.nav-rt>li>.sort-list-2+ul>li:nth-child(2){
	background-position-y:-51px;
}
.nav-all>.nav-rt>li>.sort-list-2+ul>li:nth-child(3){
	background-position-y:-102px;
}
.nav-all>.nav-rt>li>.sort-list-2+ul>li:hover{
	background-position-x:-1072px;
}
.nav-all>.nav-rt>li>.sort-list-2+ul>li:nth-child(1):hover{
	background-position-y:-276px;
}
.nav-all>.nav-rt>li>.sort-list-2+ul>li:nth-child(2):hover{
	background-position-y:-327px;
}
.nav-all>.nav-rt>li>.sort-list-2+ul>li:nth-child(3):hover{
	background-position-y:-378px;
}
.nav-all>.nav-rt>li>.sort-list-5+ul{
	left:-232px;
}
.nav-all>.nav-rt>li>.sort-list-5+ul>li{
	width:232px;
	height:97px;
	background-position-y:0px;
	background-position-x:-794px;
}
.nav-all>.nav-rt>li>.sort-list-5+ul>li:hover{
	background-position-y:-159px;
}