/***********************dropdown*******************************/
	.dropdown{width:64px; height:20px;}
	.dropdown a{
		text-decoration:none; 
		color:#000;
		display:inline-block;
	}
	.dropdown>:first-child{ 
		border:1px solid #000; padding:6px 12px;
		}
	.dropdown>.dropdown-menu{
		width:200px;
		list-style:none; margin:0; padding:0;
		border:1px solid #aaa;
		box-shadow:5px 5px 6px #000;
	}
	.dropdown>.dropdown-menu a{padding:6px 20px; width:160px}
	.dropdown>.dropdown-menu>li:hover{background:#ddd}
	.dropdown>.dropdown-menu.fade{
	  height:0;
	  opacity:0;
	  overflow:hidden;
	  transition:all .5s linear;
	}
	.dropdown>.dropdown-menu.in{
	  height:152px;
	  opacity:1;
	}





/**************************accordion***************************/
	.accordion{width:80%; margin:0 auto;}
	.accordion>.title{
		background:#eee; border:1px soild #aaa;
		padding:6px; font-size:1.5em; 
		font-weight:bold; cursor:pointer;
	}
	.accordion>.content{
		border-left:1px solid #eee;
		border-right:1px solid #eee;
	}
	.accordion>:last-child{
		border-bottom:1px solid #eee;
	}
	.accordion>.content.fade{
		height:0;
		opacity:0;
		overflow:hidden;
		transition:all .5s linear;
	}
	.accordion>.content.in{
		height:84px;
		opacity:1;
	}




/****************************tabs***************************/
	.tabs{
		list-style:none; padding:0;}
	.tabs a{
		text-decoration:none;
		color:#000;
		padding:6px 12px;
		display:inline-block;
		width:96px;
		text-align:center;
	}
	.tabs>li{
		float:left;
		border-bottom:1px solid #000;
	}
	.tabs>.active{
		border:1px solid #000;
		border-bottom:0;
	}
	.tabs+.container{
		position: relative;
	}
	.tabs+.container>.tab-pane{
		width: 300px;
		height: 100px;
		padding:30px;
		background:#fff;
		border:1px solid #000;
		border-top:0;
		position: absolute;
		top: 34px;
		left: 0;
	}
	.tabs+.container>.tab-pane.active{
		z-index:10;
	}